{% extends 'navigationbar.html' %}
{% load static %}
{% block body %}


<style>
#example td:nth-child(1),
#example th:nth-child(1),
#example td:nth-child(2),
#example th:nth-child(2),
#example td:nth-child(3),
#example th:nth-child(3) {
    text-align: left !important;
}
</style>

<div class="container" style="width: 100%; margin-top: 10px;"> 
    <h2 class="text-center">View Appointment</h2>
    <br><br>
    <table id="example" class="table table-hover" style="width:100%">
     <thead>
        <tr>
            <th>Doctor Name</th>
            <th>Patient Name</th>
            <th>Date</th>
            <th>Time</th>  
            <th>Delete</th>  
        </tr>
     </thead>

     <tbody>
        {% for i in appoint %}
        <tr>
            <td>{{i.doctor}}</td>
            <td>{{i.patient}}</td>
            <td>{{i.date1}}</td>
            <td>{{i.time1}}</td>
            <td><a href="{% url 'delete_appointment' i.id %}" onclick="return confirm('Are You Sure you want to delete')" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}

     </tbody>
    </table>
</div>


{% endblock %}